<div class="prompt-container">
    <div class="prompt-area">
        <input
            id="input"
            type="text"
            class="input"
            placeholder="Type your message here..."
            (keyup.enter)="sendMessage()"
        />
        <div class="btn">
            <fa-icon 
                [icon]="faTelegram"
                (click)="sendMessage()"
            ></fa-icon>
        </div>
    </div>
    <!-- copyright -->
    <div class="prompt-footer">
        <p>Ahmed Idrissi © 2023</p>
    </div>
</div>