<div id="prompt" class="prompt-container">
    <div class="prompt-area">
        <textarea 
            (keyup.enter)="onClick()" 
            id="input" 
            class="input" 
            name="input" 
            cols="30" 
            rows="10" 
            placeholder="Type your message here..." 
            required
        ></textarea>
        <div class="btn">
            <fa-icon 
                [icon]="faTelegram"
                (click)="onClick()"
            ></fa-icon>
        </div>
    </div>
    <!-- copyright -->
    <div class="prompt-footer">
        <p>Ahmed Idrissi © 2023</p>
    </div>
</div>