.prompt-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 140px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
    background: linear-gradient(to top, var(--prompt-bg),var(--prompt-bg), rgba(255, 255, 255, 0));
}

.prompt-area {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: var(--prompt-input-bg);
}

.prompt-area textarea {
    width: 700px;
    height: 100%;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    resize: none;
    background: none;
    color: var(--text-color);
    overflow: hidden;
    &::placeholder {
        color: var(--icon-color);
    }
}

.prompt-area .btn {
    width: 60px;
    height: 100%;
    border-radius: 0 10px 10px 0;
    background-color: var(--prompt-input-bg);
    display: flex;
    justify-content: center;
    align-items: center;
}
.prompt-area .btn fa-icon {
    font-size: 40px;
    color: var(--icon-color);
    cursor: pointer;
    visibility: hidden;
}

.prompt-area textarea:valid ~ .btn fa-icon{
    visibility: visible;
}

.prompt-footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-footer p {
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

@media (max-width: 992px) {
    .prompt-area textarea {
        width: 400px;
    }
}

@media (max-width: 720px) {
    .prompt-area textarea {
        width: 250px;
    }
}