@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
  --text-color: #FFFFFF;
  --icon-color: #ACACBE;
  --icon-hover-bg: #5b5e71;
  --placeholder-color: #cccccc;
  --main-bg-color: #2C2C3A;
  --outgoing-message-bg: #343541;
  --incoming-message-bg: #444654;
  --outgoing-message-border: #343541;
  --incoming-message-border: #444654;
  --prompt-bg: #373747;
  --prompt-input-bg: #434354;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--icon-hover-bg);
}
::-webkit-scrollbar-track {
  background-color: var(--main-bg-color);
}


body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
}